/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px; /* Allow space for scrolling */
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    margin-bottom: 20px; /* Space below the container */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.file-upload {
    margin: 20px 0;
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input[type="file"] {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    transition: border-color 0.3s;
}

input[type="file"]:hover {
    border-color: #007bff;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#resultContainer {
    width: 90%;
    max-width: 90vw;
    overflow-x: auto; /* Allow horizontal scrolling if necessary */
    overflow-y: auto;
    max-height: 60vh; /* Allow vertical scrolling only if the table is very large */
    border: 1px solid #ddd;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    white-space: normal; /* Ensure text wraps */
}

th {
    background-color: #007bff;
    color: #ffffff;
}

td.diff {
    background-color: #ffcccb;
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    input[type="file"], button {
        width: 100%;
    }
}
